<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cargo Delivery App | Map</title>
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
    
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
  </head>
  <body>
    <iframe src="https://www.google.com.tr/maps/@40.7673442,29.9343003,16z?hl=en&authuser=0" />

    <!-- You can also require other files to run in this process -->
    <script src="../renderer.js"></script>
  </body>
</html>
