<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cargo Delivery App | Cargo Address</title>
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
    
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
  </head>
  <body>

    <div class="wrapper">
      <h1>Add new Cargo Address</h1>
      <form id="cargoadd-form">
        <input type="text"  id='cargoadd-name' placeholder="Client Name">
        <input type="text" id="cargoadd-locX" placeholder="Client Location X">
        <input type="text" id="cargoadd-locY" placeholder="Client Location Y">
        <button type="submit">Add</button>
      </form>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../dist/renderer.js"></script>
  </body>
</html>
