<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cargo Delivery App | Cargo Status</title>
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
    
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
  </head>
  <body>
    <h1>Cargo Status</h1>
    <button id="addCargoBtn">Add new Cargo</button>

    <!-- You can also require other files to run in this process -->
    <script src="../dist/renderer.js"></script>
  </body>
</html>
