<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cargo Delivery App | Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/map.css" />
  </head>
  <body>
    <div id="map"></div>

    <!-- You can also require other files to run in this process -->
    <script src="../dist/renderer/map.js"></script>

    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv9iNeDL_kmNc5OU-syA4Ijhxq5QoS6TY&callback=initMap"
    ></script>
  </body>
</html>
